body {
  margin: 80px 0 0;
  font-size: 18px;
  line-height: 1.5;
}

img {
  max-width: 100%;
}

p {

}



#logo {
  display: block;
  height: 50px; width: 50px;
  margin-left: -25px;
  position: absolute;
  left: 50%; top: 0;
}
#logo img {
  display: block;
  height: 50px; width: 50px;
}

@media screen and (max-width: 767px) {
  .nav.navbar-nav.social {
    text-align: center;
  }
  .nav.navbar-nav.social li {
    display: inline-block;
  }
}

#news1 {
  height: 60px;
  width: 100%;
}
.carousel-container {
  margin-bottom: 50px;
  /* margin-top: 80px; */
}

.carousel-caption h1 span {
  background-color: #000;
  padding: 0 15px;
}

  .youtube {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 9px;
    height: 0;
  }
  .youtube iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

@media screen and (max-width: 767px) {
  .carousel {
    margin-bottom: 200px;
  }
  .carousel-inner {
    overflow: visible;
  }
  .carousel-inner .carousel-caption {
    width: 100%;
    bottom: initial;
    top: 100%; left: 0;
  }
  .carousel-inner .carousel-caption h1 {
    color: #000;
    font-size: 25px;
    text-shadow: none;
  }
  .carousel-inner .carousel-caption h1 span {
    background: transparent;
  }
  .carousel-inner .carousel-caption p {
    color: #6C7A89;
    text-shadow: none;
  }
}


.news-block {
  margin-bottom: 50px;
}
  @media screen and (max-width: 767px) {
    .news-block .news-item {
      margin-bottom: 30px;
    }
  }

.daily-bread {
  margin-bottom: 50px;
}
  .daily-bread .news-item {
    margin-bottom: 20px;
  }

.soundcloud-container {
  background-color: #222;
  border-radius: 6px;
  padding: 30px;
}
  .soundcloud-container {
    color: #fff;
  }
  .soundcloud-container h3 {
    margin-top: 0;
  }
  #soundcloud-player {
    height: 400px;
  }

.pagination {
  display: block;
  border-top: 1px solid #ddd;
  margin-top: 50px;
  padding-top: 20px;
}
  .pagination ul {
    display: block;
    list-style: none;
    padding: 0;
    width: 100%;
  }
  .pagination ul li.prev {
    float: left;
  }
    .pagination ul li.prev i {
      margin-right: 10px;
    }
  .pagination ul li.next {
    float: right;
  }
    .pagination ul li.next i {
      margin-left: 10px;
    }
  .pagination ul li a {
    text-decoration: none;
  }

#footer {
  background: #101010;
  color: #fff;
  margin-top: 100px;
  padding: 30px 0;
  text-align: center;
}
  #footer p {
    margin: 0;
  }


/*
 * Single Post
 */

.single .post-block .asset {
  margin-bottom: 30px;
}


/*
 * Single Artist
 */

.artist aside .social {
  margin-top: 30px;
}
.artist aside .social .social-links {
  margin-bottom: 30px;
  padding: 0;
}
.artist aside .social .social-links li {
  display: inline-block;
  font-size: 30px;
  margin-right: 12px;
}
.artist aside .social .social-links li a {
  color: #000;
}


/*
 * Shop
 */

.shop.listing .product {
  margin-bottom: 30px;
}


/*
 * Misc. styles
 */

.btn-default.btn-inverse {
  background: #101010;
  border: 0 none;
  color: #fff;
}


/* Generic Margin Helpers
------------------------------------
 */

.mt-0 {
  margin-top: 0px;
}

.mr-0 {
  margin-right: 0px;
}

.ml-0 {
  margin-left: 0px;
}

.mb-0 {
  margin-bottom: 0px;
}

.mt-5 {
  margin-top: 5px;
}

.mr-5 {
  margin-right: 5px;
}

.ml-5 {
  margin-left: 5px;
}

.mb-5 {
  margin-bottom: 5px;
}

.mt-10 {
  margin-top: 10px;
}

.mr-10 {
  margin-right: 10px;
}

.ml-10 {
  margin-left: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mt-15 {
  margin-top: 15px;
}

.mr-15 {
  margin-right: 15px;
}

.ml-15 {
  margin-left: 15px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mt-20 {
  margin-top: 20px;
}

.mr-20 {
  margin-right: 20px;
}

.ml-20 {
  margin-left: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mt-25 {
  margin-top: 25px;
}

.mr-25 {
  margin-right: 25px;
}

.ml-25 {
  margin-left: 25px;
}

.mb-25 {
  margin-bottom: 25px;
}

.mt-30 {
  margin-top: 30px;
}

.mr-30 {
  margin-right: 30px;
}

.ml-30 {
  margin-left: 30px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mt-35 {
  margin-top: 35px;
}

.mr-35 {
  margin-right: 35px;
}

.ml-35 {
  margin-left: 35px;
}

.mb-35 {
  margin-bottom: 35px;
}

.mt-40 {
  margin-top: 40px;
}

.mr-40 {
  margin-right: 40px;
}

.ml-40 {
  margin-left: 40px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mt-45 {
  margin-top: 45px;
}

.mr-45 {
  margin-right: 45px;
}

.ml-45 {
  margin-left: 45px;
}

.mb-45 {
  margin-bottom: 45px;
}

.mt-50 {
  margin-top: 50px;
}

.mr-50 {
  margin-right: 50px;
}

.ml-50 {
  margin-left: 50px;
}

.mb-50 {
  margin-bottom: 50px;
}


@media screen and (max-width: 767px) {
  body {
    margin-top: 120px;
  }

  .single .post-block aside {
    margin: 40px 0;
  }
}
